.header{
display: flex;
padding: 10px;
background-color: #EDEDED;    

}
.body{
    background-color: #EDEDED;    
}
.logo {
    color: grey;
    width: 50%;
    float: left;
}

.logo a{
    color: grey;
    font-size:  20px;
    text-decoration: none;
    font-weight: 500;
}

.menu {
    color: aquamarine;
    width: 50%;
    float: right;
    text-align: right;
    font-size: 400;
}


.menu a {
    text-decoration: none;
    font-size: 400;
    font-weight: 500;
    padding-right: 40px;
}

.menu .page1{
    color: rgb(52, 214, 160);
}

.inn-header {
    width: 90%;
    margin: auto;
    
}



.main{
    display: flex;
    height: 50vh;
    width: 70%;
    margin: auto;
    justify-content: center;

}

.content{
    padding: 20px;
    width: 50%;
}

#btn1{
    width: auto;
    background-color: rgb(51, 177, 185);
    border: none;
    color: aliceblue;
    padding: 10px;
}

.image{
    width: 40%;
    height: 50vh;
    padding: 20px;

}

.image img{
width: 120%;
height: 60vh;

}

.main h1{
    
    font-size: 12px;
    
}

.main h2{
    color: rgb(51, 177, 185);
    font-size: 30px;
   
}

.main p{
    text-align: left;
    font-size: 15px;
    font-style: italic;
    
}

.main button{
    background-color: rgb(51, 177,185);
    color: alice;
    display: auto;
    
}

.container{
 text-align: center;
 justify-content: center;
  margin: auto;
  border: solid-white;
  padding: 30px 0;
  width: 900px;
  height: 300px;
  display: flex;
  background-color: #EDEDED;


}

.icon>img{
    height: 50px;
     width: 50px;
     margin-top: 10px; 
     border-radius: 50%;
}
.contact{
    background-color: lightseagreen;
    color: aliceblue;
}

.contact h2{
    background-color: lightseagreen;
    color: aliceblue;
}

.mouth{
  background-color: rgb(85, 194, 190);
  color: aliceblue;
  padding: 0 10px;
}

.mouth h2{
    color: aliceblue;
    
}

.hands{
    background-color: rgb(120, 213, 210);  
    color: aliceblue;
    padding: 0 10px;
}  

.hands h2{
color: aliceblue;
}

#btn{
    background-color: aliceblue;
    color: lightseagreen;
    padding: 6px;
    font-size: 8px;
    border: none;
    margin-bottom: 10px;
    width: 40px;
}

.footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 200px;
    
}






























    

